@model IEnumerable<Farm_Central_Stock_Management_System_Web.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prod_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Farmer.farmer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType.Catagory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prod_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Farmer.farmer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType.Catagory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.prod_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.prod_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.prod_Id })
        </td>
    </tr>
}

</table>
